<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- <servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.cg.addservlet.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SquareServlet</servlet-name>
		<servlet-class>com.cg.addservlet.SquareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SquareServlet</servlet-name>
		<url-pattern>/square</url-pattern>
	</servlet-mapping>

	<servlet> <servlet-name>demo</servlet-name> 
	<servlet-class>com.cg.mydemo.MyDemo</servlet-class> 
		</servlet> 
		<servlet-mapping> 
		<servlet-name>demo</servlet-name> 
		<url-pattern>/home</url-pattern> 
		</servlet-mapping> 
		<context-param> <param-name>name</param-name> <param-value>Welcome</param-value> 
		</context-param> <context-param> <param-name>message</param-name> <param-value>This 
		is a message</param-value> </context-param>

	<servlet>
		<servlet-name>demo</servlet-name>
		<servlet-class>com.cg.mydemo.MyDemo</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value> Thanjum</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping> -->

</web-app>